<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <button id="createButton">Create a bug</button>
    <p class="form">Problem Input</p>
    <input type="text" id="problem" class="form" />
    <p class="form">Error Input</p>
    <input type="text" id="error" class="form" />
    <p class="form">Commit Input</p>
    <input type="text" id="commit" class="form" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/index.js"></script>
  </body>
</html>
